---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Hero from "@layouts/components/Hero.astro";
import Trending from "@layouts/components/Trending.astro";
import { nativePosts } from "@lib/strapi";

const totalPages = Math.ceil(nativePosts.length / config.settings.pagination);
const trendingPosts = nativePosts.slice(5, 8);
const popularPosts = nativePosts.slice(8,11)
const heroPosts = nativePosts.slice(0, 3);
---

<Base showFooter={true}>
  <section class="section md:pt-[32px] pt-[40px]">
    <div class="container">
      <Hero posts={heroPosts} className="mb-10 md:mb-16" />
      <Trending posts={trendingPosts} type="row" className="mb-16" />
      <Trending title="Popular Articles" posts={popularPosts} type="column" className="md:mb-16" />
      <!-- <Posts posts={currentPosts} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} /> -->
    </div>
  </section>
</Base>
