---
import config from "@config/config.json";
import { removeSpecialChars } from "@lib/utils/textConverter";
import type { Post } from "../interfaces/post";

type Props = {
  posts: Post[];
  className?: string;
  category?: string;
  fluid?: boolean;
};

const { className, posts } = Astro.props;
const { summary_length } = config.settings;
---

<div
  class={`grid grid-cols-3 gap-[20px]  ${className} ${
    posts.length == 1 ? "justify-center" : ""
  } `}
>
  {
    posts.map((post: Post, i: number) => (
      <div class="flex flex-col gap-4 mb-8 items-center">
        {post.imageUrl && (
          <a
            href={`/${post.slug}/`}
            class="w-full rounded-md block hover:text-primary overflow-hidden group"
          >
            <img
              class="group-hover:scale-[1.2] transition ease-in-out duration-[.6s] object-cover h-auto md:h-[270px]  transition duration-300 w-full"
              srcset={`
                ${post.imageSmallUrl} ${post.imageSmallWidth}w,
                ${post.imageMediumUrl} ${post.imageMediumWidth}w
              `}
              sizes={`
                (max-width: 768px) 480px,
                (min-width: 769px) 500px
              `}
              src={post.imageMediumUrl || ""}
              width={post.imageMediumWidth}
              height={post.imageMediumHeight}
              alt={post.title}
              fetchpriority={i < 2 ? "high" : "auto"}
              loading={i < 2 ? "eager" : "lazy"}
              decoding="async"
            />
          </a>
        )}
        <div class="flex flex-col">
          <span>
            <a
              href={`/${post.categories}/`}
              class="block text-[#000] text-[14px] transition duration-300 border-l border-[#DB3334] leading-[14px] pl-[5px] text-[#DB3334]"
            >
              {post.categories}
            </a>
          </span>
          <h3 class="mt-4">
            <a
              href={`/${post.slug}/`}
              class="block text-[#000] text-[18px] transition duration-300"
            >
              {post.title}
            </a>
          </h3>
          {/* <p class="text-text">
            {removeSpecialChars(post.content?.slice(0, Number(summary_length)))}
            ...
          </p>
          <div class="bg-[#334154] text-[#D8DAE0] opacity-80 py-1/2 px-3 w-fit mt-2 mb-3">
            {post.categories && post.categories[0].toLowerCase()}
          </div>
          <a
            href={`/${post.slug}/`}
            class="block w-full transition duration-300 mx-auto mt-2 bg-primary hover:bg-primary/75 rounded-3xl p-2 text-center text-white text-2xl font-bold"
          >
            LEARN MORE
          </a> */}
        </div>
      </div>
    ))
  }
</div>
